<form action="/sessions" method="post">
	<input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
	<label for="email">Email</label>
	<input type="text" name="email" id="Email">
	<label for="password">Password</label>
	<input type="password" name="password" id="Password">
	<button>Log In</button>
</form>